<div class="mx-auto px-5">
  <table class="text-lg bg-blue-150 border border-slate-500">
    <tr class="border border-slate-500 bg-blue-100">
      <th class="border border-slate-500 w-32"> Issue Name </th>
      <th class="border border-slate-500 px-2"> Action </th>
      <th class="border border-slate-500 w-full px-2"> Result </th>
    </tr>
    <% loop for result in (@ results ) do %>
    <% (format t "-*-RESULT: ~S~%" result ) %>
    <tr class="border border-slate-500">
      <td class="border border-slate-500 w-32 whitespace-pre"> <%= (getf result :issue-id) %> </td>
      <td class="border border-slate-500 w-32 whitespace-pre"> <%= (getf result :action ) %> </td>
      <td class="border border-slate-500 w-full px-2"> <%= (getf result :result ) %> </td>
    </tr>
    <% end %>
  </table>
</div>


