
<div class="mx-auto px-5">
  <table class="text-lg bg-blue-150 w-full border border-slate-500">
    <tr class="border border-slate-500 bg-blue-100">
      <th class="border border-slate-500 text-center">  [x] </th>
      <th class="border border-slate-500 text-center"> Issue Name </th>
      <th class="border border-slate-500"> Description </th>
    </tr>

    <% loop for matches in (@ cve-matches ) do %>
    <tr class="border border-slate-500">
      <td class="border border-slate-500 text-center">
        <!-- if its a kernel or kernel-rt bug, ticket it -->
        <input type="checkbox" name="<%= (getf matches :issue-id ) %>" <%= (change-component:summary-matches-kernel-or-rt matches ) %> >
      </td>
      <td class="border border-slate-500 text-center">
        <a class="hover:bg-blue-200 active:bg-blue-100 focus:outline-none focus:ring focus:ring-blue-400 px-4 "
          href="http://issues.redhat.com/browse/<%= (getf matches :issue-id )  %>">
        <%= (getf matches :issue-id )  %>
        </a>
      </td>
      
      <td class="border border-slate-500"> <%= (getf matches :summary) %></td>
    </tr>
    <% end %>
  </table>
</div>


